<div class="small-6 columns">
  <h2>New Tweet for <%= @character.name %></h2>
  <%= render "form" %>
  <%= render "tweet-summary" %>
</div>

<div class="small-6 columns character">
  <%=image_tag "badges.jpg" %>
  <%= image_tag @character.image_url(:thumb).to_s if @character.image? %>
<br><br>
<!-- begin twitter widget -->

<%= link_to "Tweets by #{@character.handle}", "https://twitter.com/#{@character.handle}", {:class => "twitter-timeline", "data-widget-id" => "375321337142583296", "data-screen-name" => "#{@character.handle}", "data-show-replies" => "false", "data-tweet-limit" => "5"} %>

</div>

