<div class="small-3 columns">
<%=render "layouts/sidenav" %>
</div>

<div class="small-9 columns">
  <h3 class="subheader">Choose a character you want to write a tweet for.</h3>
  <% @source_materials.each do |source| %>
    <div id="source_<%= source.id %>" class="button source">
      <%= source.title %>
  </div>
  <% end %>
  <div id="all"class="button source">All</div></br>
  <ul class="large-block-grid-4">
   <% @characters.each do |character|  %>

          <li class="source_<%= character.source_material_id %> character">
            <%= link_to image_tag(character.image_url(:thumb).to_s), new_character_tweet_path(character), {:alt => "#{character.name}"} if character.image? %>
            <%= link_to "Follow @#{character.handle}", "https://twitter.com/#{character.handle}", {:class => "twitter-follow-button", "data-show-count" => "false", "data-lang" => "en"} %>
          </li>
   <% end %>

</div>
