<div class="small-3 columns">
<%=render "layouts/sidenav" %>
</div>

<div class="small-9 columns">
  <% @source_materials.each do |source| %>
    <div id="source_<%= source.id %>" class="button source">
      <%= source.title %>
  </div>
  <% end %>
  <div id="all"class="button source">All</div></br>
   <% @characters.each do |character|  %>
     <div class="source_<%= character.source_material_id %> character">
       <%= link_to character.name, character %>
     </div>
   <% end %>
</div>
