<%= simple_form_for @character do |f| %>
    <%= f.error_notification %>
    <%= f.input :name %>
    <%= f.input :bio %>
    <%= f.input :handle %>
     <p>
    <%= f.file_field :image, input_html: {id: "profile_pic"} %>
    </p>
    <%= f.label :remote_image_url, "or image URL:" %>
    <%= f.input :remote_image_url %>


    <%= f.submit class: "small button success radius" %>

<% end %>
