<%= simple_form_for @character do |f| %>
    <%= f.error_notification %>
    <%= f.hidden_field :key %>
    <%= f.input :name %>
    <%= f.input :bio %>
    <%= f.input :handle %>
    <%= f.input :source_material_id, collection: SourceMaterial.all%>

    <p> File: <% @character.image_name %> </p>


    <%= f.submit class: "small button success radius" %>

<% end %>
