<%= simple_form_for [@source_material, @character], :html => { :multipart => true } do |f| %>

    <%= f.input :name %>
    <%= f.input :bio %>
    <%= f.input :handle %>
     <p>
    <%= f.file_field :image %>
    </p>
    <%= f.label :remote_image_url, "or image URL:" %>
    <%= f.input :remote_image_url %>


    <%= f.submit class: "small button success radius" %>

<% end %>
