<%= form_for(@character) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="large-6 columns">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="large-6 columns">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </div>

  <div class="row collapse">
    <div class="small-3 large-2 columns">
      <span class"prefix">@</span>
    </div>
    <div class="small-9 large-10 columns">
      <%= f.label :handle %>
      <%= f.text_area :handle %>
    </div>
  </div>

    <%= f.submit class: "small button success radius" %>
  </div>


<% end %>
