<div id="character" >
<h2><%= @character.name %></h2>

<p id="notice"><%= notice %></p>

  <div class="character_profile">
    <div class="row">
      <div class="large-3 columns">
        <%= image_tag @character.image_url().to_s if @character.image? %>

        <%= link_to "Follow @#{@character.handle}", "https://twitter.com/#{@character.handle}", {:class => "twitter-follow-button", "data-show-count" => "false", "data-lang" => "en"} %><br><br>
        <%= link_to "New Tweet", new_character_tweet_path(@character), :class => "button success" %>

        <%= link_to "Add Twitter Account", "/users/auth/twitter", :class => "button" %>
        <%= link_to "Edit Character", [:edit, @character], :class => "button" %>
        <%= link_to "Delete Character",
        @character,
        :method => :delete,
        :confirm => "Are you sure you want to delete this character?", :class => "button"%></br>
        <%= link_to "New Character", new_character_path, :class => "button" %>

      </div>
      <div class="large-9 columns tweets">
        <p>
          <b>Bio:</b>
          <%= @character.bio %>
        </p>

        <% @character.tweets.each do |tweet| %>
          <div id="<%= tweet.id  %>">
          Tweet: <%= tweet.body %></br>
          Scheduled for:  <%= tweet.post_at %></br>
          <%= link_to "edit", [:edit, @character, tweet], :class => "button small" %>
        <%= link_to "destroy", [@character, tweet], :method => :delete,
        :confirm => "Are you sure?", :class => "button small"  %></br>
        </div>
        <% end %>
      </div>

    </div>
  </div>






