<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Bio:</b>
  <%= @character.bio %>
  <%= simple_format(@ticket.description) %>
</p>
<p>
  <b>Handle:</b>
  <%= @character.handle %>
</p>



<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
