  <h4><%= @source_material.title %></h4>
  <p>Genre: <%= @source_material.genre %></p>
  <p>Description: <%= @source_material.description %></p>
  <% admins_only do %>
  <%= link_to "Edit Source Material", edit_source_material_path, :class => "button" %>
  <%= link_to "Delete Source Material", @source, :method => :delete, :confirm => "Are you sure?", :class => "button" %>
  <% end %>
  <% authorized?("create characters".to_sym, @source_material) do %>
    <%= link_to "New Character", new_source_material_character_path(@source_material), :class => "button" %>
  <% end %>


  <ul id= "characters" class="panel">
    <% @source_material.characters.each do |character| %>
    <li>
      <%= link_to character.name, [@source_material, character] %>
    </li>
    <% end %>
  </ul>

