<%= image_tag "Fan Voice Banner.png" %>
<div class='contain-to-grid'>
<nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class ="name">

      </li>

    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
    <!-- Left Nav Section -->
      <ul class="left">

      </ul>
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li>
        <% if user_signed_in? %>
            <%= link_to "signed in as #{current_user.email}", root_path %>
         </li>
        <li class="divider"></li>
        <li class="active">
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        </li>
        <li class="divider"></li>
        <li class="active">
          <% admins_only do %>
            <%= link_to "Admin", admin_root_path %></li>
          <% end %>
          <% else %>
          <li class="divider"></li>
          <li class="active">
            <%= link_to "Sign up", new_user_registration_path %>
          </li>

        <li class="divider"></li>
        <li class="active">
        <%= link_to "Sign in", new_user_session_path %>
      </li>
      <% end %>
    </ul>
  </section>
  </nav>
</div>

