<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Fan Voice" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </head>

  <body>
    <div class="row">
      <%= render "layouts/header" %>
    </div>
    <div class="row">
      <div class="large-9 columns">
        <br><br>
        <%= image_tag "Follow the Conversation or Tweet Today.png" %>
        <%= yield %>
        <!-- I believe it will yield to the characters index view, could create a partial for the grid too. -->
      </div>
      <div class="large-3 columns">
        <h2>THEIR VOICE IS YOUR VOICE</h2>
          <h4>FAN VOICE IS THE EASIEST PLACE TO SPEAK AS YOUR FAVORITE FICTIONAL CHARACTER.</h4>
          <h4>REACH AN AUDIENCE, BE CREATIVE, AND GET CLOSER TO THE FANTASY</h4>
          <%= link_to "SIGN IN WITH FACEBOOK",
                     user_omniauth_authorize_path(:facebook), {
                     :id => "sign_in_with_facebook", :class =>"large button" } %>
            <%= simple_form_for("user", :url => user_session_path) do |f| %>
              <%= f.input :email %>
              <%= f.input :password %>
              <%= f.input :remember_me  %>
              <%= f.submit 'Sign in' %>
              <%= link_to "Forgot your password?", new_password_path('user') %>
            <% end %>

          <%= image_tag "New-logo-black-sword.png" %>
        </div>
    </div>
  </body>
</html>
